body {
	background: #e5e5e5;
	margin: 0;
	padding: 0;
}

/* Top player list */
.Top-Player-section {
	background: #ffff;
	margin: 0 15%;
	padding: 0 3%;
	border-radius: 5px;
}
.title {
	font-weight: 600;
	font-size: 24px;
	color: #562eff;
	margin: 0 0 30px 0;
}
.player-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.player-photo {
	width: 40%;
	/* padding: 30px; */
}
.player-photo:hover {
	border: 2px solid #562eff;
	border-radius: 50%;
}
.player {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
	margin: 20px 10px 20px 0px;
}
.Player-name {
	margin-left: 20px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}
.Player-name:hover {
	border-bottom: 2px solid #562eff;
}
.break-point {
	border-bottom: 2px solid green;
}
.top-blog {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.blog-photo {
	width: 50%;
}
.blog {
	flex-wrap: nowrap;
	margin: 20px 10px 20px 0px;
}
.headline {
	margin: 0 20px;
}
.author-name {
	color: #9f9f9f;
	font-size: 16px;
}
span {
	color: #562eff;
	font-size: 16px;
	margin-left: 5px;
}
span:hover {
	border-bottom: 2px solid #562eff;
}
.latest-course {
	margin-top: 20px;
}
.courses {
	flex-flow: row;
}
.course-cover {
	width: 100%;
}
.course {
	padding: 10px;
}
.star-rating {
	color: #ffc014;
}
.rating {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.timer {
	/* margin: 0%;
	padding: 0%; */
	background-color: #ff4a5f6f;
	color: #ee0c26;
	border-radius: 10pc;
	padding: 5px;
}
.ret {
	margin: 0%;
	
	display: inline-block;
}
